<div class="max-w-4xl mx-auto">
  <div>
    <h1>Room <%= @room.code %></h1>
    <%# TODO: replace filler questions %>
    <div class="carousel rounded-box w-128">
      <div id="question1" class="carousel-item relative w-full">
        <%=
          render partial: 'shared/qa_card',
                 locals: {
                   question: 'How are you 1?',
                   placeholder: 'Today my vibes are...',
                 }
        %>
        <div
          class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
        >
          <a href="#question4" class="btn btn-circle">❮</a>
          <a href="#question2" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="question2" class="carousel-item relative w-full">
        <%=
          render partial: 'shared/qa_card',
                 locals: {
                   question: 'How are you, really 2?',
                   placeholder: 'I am feeling...',
                 }
        %>
        <div
          class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
        >
          <a href="#question1" class="btn btn-circle">❮</a>
          <a href="#question3" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="question3" class="carousel-item relative w-full">
        <%=
          render partial: 'shared/qa_card',
                 locals: {
                   question: 'How are you, really 3?',
                   placeholder: 'I am feeling...',
                 }
        %>
        <div
          class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
        >
          <a href="#question2" class="btn btn-circle">❮</a>
          <a href="#question4" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="question4" class="carousel-item relative w-full">
        <%=
          render partial: 'shared/qa_card',
                 locals: {
                   question: 'How are you, really 4?',
                   placeholder: 'I am feeling...',
                 }
        %>
        <div
          class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
        >
          <a href="#question3" class="btn btn-circle">❮</a>
          <a href="#question1" class="btn btn-circle">❯</a>
        </div>
      </div>
    </div>
  </div>

  <% if Rails.env.development? %>
    <h1>Debug Dump</h1>
    <% is_admin = (@room.session_id == session[:user_identity]) %>
    <div class="alert alert-info mb-4">
      <div class="flex items-center">
        <span class="text-sm"
          >Session ID:
          <code class="px-2 py-1 rounded"><%= session[:user_identity] %></code
        ></span>
        <span class="text-lg"
          >(<span id="participants-count"><%=
              @room.active_participants_count
            %></span>
          active)</span
        >
      </div>
    </div>
    <div class="alert alert-info mb-4">
      <div class="flex flex-col items-start">
        <span class="text-sm block font-bold"
          >Room <%= @room.code %> Metadata</span
        >
        <ul>
          <% @room.attributes.each do |key, value| %>
            <li><%= key %>: <%= value %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="alert alert-info mb-4">
      <div class="flex items-center">
        <span class="text-sm block">
          User is
          <% if !is_admin %>
            not
          <%end%>
          admin.
        </span>
      </div>
    </div>
  <%end%>
</div>
