<div class="max-w-4xl mx-auto" data-room-code="<%= @room.code %>">
  <div>
    <h1>Room <%= @room.code %></h1>
    <div class="carousel rounded-box w-128">
      <% @questions.each.with_index(1) do |question, question_num| %>
        <div
          id="question<%= question_num %>"
          class="carousel-item relative w-full"
        >
          <%=
            render 'shared/qa_card',
                   question: question,
                   question_num: question_num
          %>
          <div
            class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
          >
            <a
              href="#question<%= question_num == 1 ? @questions.count : question_num - 1 %>"
              class="btn btn-circle"
              >❮</a
            >
            <a
              href="#question<%= question_num == @questions.count ? 1 : question_num + 1 %>"
              class="btn btn-circle"
              >❯</a
            >
          </div>
        </div>
      <% end %>
    </div>

    <% if @user_responses.count >= @questions.count %>
      <div class="flex justify-center mt-8">
        <%= link_to "View All Responses", responses_room_path(@room), class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>

  <%# WIP: wordcloud card %>
  <div
    class="card bg-[#C8C8FF] shadow-md p-6 w-full max-w-md mx-auto space-y-4 mt-4 mb-4"
    data-question-response-room-code-value="<%= @room.code %>"
  >
    <label
      class="block text-lg font-medium text-base-content bg-base-200 p-3 rounded-md border"
    >
      <%= 'Question text' %>
    </label>
  </div>

  <% if Rails.env.development? %>
    <h1>Debug Dump</h1>
    <% is_admin = (@room.session_id == session[:user_identity]) %>
    <div class="alert alert-info mb-4">
      <div class="flex items-center">
        <span class="text-sm"
          >Session ID:
          <code class="px-2 py-1 rounded"><%= session[:user_identity] %></code
        ></span>
        <span class="text-lg"
          >(<span id="participants-count"><%=
              @room.active_participants_count
            %></span>
          active)</span
        >
      </div>
    </div>
    <div class="alert alert-info mb-4">
      <div class="flex flex-col items-start">
        <span class="text-sm block font-bold"
          >Room <%= @room.code %> Metadata</span
        >
        <ul>
          <% @room.attributes.each do |key, value| %>
            <li><%= key %>: <%= value %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="alert alert-info mb-4">
      <div class="flex items-center">
        <span class="text-sm block">
          User is
          <% if !is_admin %>
            not
          <%end%>
          admin.
        </span>
      </div>
    </div>
  <%end%>
</div>
